.services__container {
    padding: 30px 0 40px 0;
    margin-bottom: 100px;
}
.services__entete{
    text-align: center;
    margin-bottom:60px;
}
.services__entete h2 {
    font-size: 2em;
}

.services__entete--title {
    margin: 40px 10px 50px 10px;
    padding-top: 30px;
}

.services__main--container {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    row-gap: 20px;
}

.services__main--content {
    border: 1px solid rgba(148, 148, 148, 0.8);
    padding: 20px 10px;
}

.services__main--content:hover {
    background: rgba(93, 93, 93, 0.1);
}

.s__main-icons {
    font-size: 50px;
    animation: var(--animation-rotate);
}

.s__main-levitate {
    font-size: 50px;
    animation: var(--animation-icons);
}


@media only screen and (min-width: 768px) { 
    .services__main--container {
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 20px;
    }
  }

 
  
@media only screen and (min-width: 1024px) { 
    .services__main--container {
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 30px;
        column-gap: 30px;
        margin: 0 8%;
    }
}
  