.projects__container {
    background-color: black;
    padding: 30px 10px 100px 10px;
}

.projects__entete{
    text-align: center;
}

.projects__entete--title {
    margin: 40px 10px 50px 10px;
}

.projects__entete--text{
    margin-bottom: 50px;
}


.projects__menu--button {
    /* display: flex;
    justify-content: center; */
    background-color: red;
    border-radius: 50px;
    padding: 10px;
    margin: auto;
    text-align: center;
    width: 150px;
}
.nav-item{
    padding: 0 15px 0 15px;
}