header {
    height: 100vh;
    padding-top: 2rem;
    background-image: url('../../assets/background.svg');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}

.header__moiastronaute > img {
    position: absolute;
    width: 70%;
    right: 10%;
    bottom: 10%;
}

.header__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-test);
    padding-right: 10%;

}
.header__title ul {
    overflow: hidden;
    position: absolute;
    right: 272px;
    top: 106px; 
}

.header__menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header__menu li {
    padding: 5px 0 5px 0;
}

.header__menu li a {
    color: white; 
    font-size: 1.3em;
    font-weight: 600;
}




/****************************************/
/***************** BUTTON ***************/
/****************************************/


.header__menu{
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header__title #menu-toggle:checked ~ .header__menu {
    max-height: 240px;
  }

.menu-button{
    background: red;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.menu-button::before,
.menu-button::after {
    background: red;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.menu-button::before{
    top: 5px;
}

.menu-button::after{
    top: -5px;
}

.menu-button-container{
    color: red;
}

.header__title #menu-toggle {
    display: none;
}

.header__title #menu-toggle:checked ~ .header__menu {
    max-height: 240px;
}

.header__title #menu-toggle:checked ~ .menu-button-container .menu-button {
    background: transparent;
}

.header__title #menu-toggle:checked ~ .menu-button-container .menu-button:before {
    transform: rotate(-45deg);
}

.header__title #menu-toggle:checked ~ .menu-button-container .menu-button:after {
    transform: rotate(45deg);
}

.header__title #menu-toggle:checked ~ .menu-button-container:not(.steps) .menu-button:after,
.header__title #menu-toggle:checked ~ .menu-button-container:not(.steps) .menu-button:before {
    top:0;
}



@media only screen and (min-width: 768px) {
    .header__moiastronaute > img {
        position: absolute;
        width: 60%;
        right: 10%;
        bottom: 10%;
    } 

}


@media only screen and (min-width: 1024px) {
    
    .header__moiastronaute > img {
        position: absolute;
        height: 700px;
        width: auto;
        right: 100px;
        bottom: 150px;
    } 

    .header__menu li a:hover{
        color: #de405b;
        transition: var(--transition)
    }
    

}

