header {
    height: 100vh;
    padding-top: 2rem;
    background-image: url('../../assets/background.svg');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}

.header__titre{
    margin: 1%;
}

img {
    position: absolute;
    height: 700px;
    right: 100px;
    bottom: 150px;

}