header {
    height: 100vh;
    padding-top: 2rem;
    background-image: url('../../assets/background.svg');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}

.header__moiastronaute > img {
    position: absolute;
    width: 60%;
    right: 10%;
    bottom: 10%;
}

.header__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3%;
    /* -webkit-box-shadow: 0px 10px 13px -7px #343434, 2px 23px 20px -1px rgba(0,0,0,0.43); 
box-shadow: 0px 10px 13px -7px #343434, 2px 23px 20px -1px rgba(0,0,0,0.43); */
}
.header__title ul {
    overflow: hidden;
    position: absolute;
    top: 90px; 
    left: 0;
    background: rgba(56, 56, 56, 0.1);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 100%;
    text-align: center;
}

.header__menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header__menu li {
    padding: 5px 0 5px 0;

}


.header__menu li a {
    color: rgba(255, 255, 255, 0.7); 
    font-size: 1.3em;
    font-weight: 600;
    transition: transform .2s;
    display: block;
}

.header__menu li a:hover {
    color: white;
    transform: scale(1.2);
    background: rgba(56, 56, 56, 0.3);
    
}




/****************************************/
/***************** BUTTON ***************/
/****************************************/


.header__menu{
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header__title #menu-toggle:checked ~ .header__menu {
    max-height: 240px;
    backdrop-filter: blur(5px);
  }

.menu-button{
    background: rgba(255, 255, 255, 0.9);
    display: block;
    height: 3px;
    position: relative;
    transition: background .2s ease-out;
    width: 32px;
}

.menu-button::before,
.menu-button::after {
    background: rgba(255, 255, 255, 0.7);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 28px;
}


.menu-button::before{
    top: 10px;
}

.menu-button::after{
    top: -10px;
}

.header__title #menu-toggle {
    display: none;
}

.header__title #menu-toggle:checked ~ .menu-button-container .menu-button {
    background: transparent;
}

.header__title #menu-toggle:checked ~ .menu-button-container .menu-button:before {
    transform: rotate(-45deg);
}

.header__title #menu-toggle:checked ~ .menu-button-container .menu-button:after {
    transform: rotate(45deg);
}

.header__title #menu-toggle:checked ~ .menu-button-container:not(.steps) .menu-button:after,
.header__title #menu-toggle:checked ~ .menu-button-container:not(.steps) .menu-button:before {
    top:0;
}



@media only screen and (min-width: 768px) {
    .header__moiastronaute > img {
        position: absolute;
        width: 42%;
        right: 5%;
        bottom: 8%;
    } 

}


@media only screen and (min-width: 1024px) {

    .header__title h1 {
        font-size: 3rem;
    }
    
    .header__moiastronaute > img {
        position: absolute;
        height: 520px;
        width: auto;
        right: 5%;
        bottom: 10%;
    } 

    .header__menu li a:hover{
        color: #de405b;
        transition: var(--transition);
    }
    
    .header__menu{
        clear: both;
        flex-direction: row;
        max-height: 100%;
        justify-content: flex-end;
        }

    .header__title ul {
        position:unset;
    }

    .menu-button{
        display: none;
    }

    .header__menu li:nth-of-type(5), .header__menu li:nth-of-type(6) {
        padding: 5px 5px 5px 5px;
    }
    
    .header__menu li{
        padding: 5px 30px 5px 30px;
    }

    .header__menu li a {
        font-size: 1.4em;
    }

    .header__menu li a:hover {
        color: white;
        transform: scale(1);
        background: rgba(56, 56, 56, 0.3);
        
    }

    .header__icon {
        border: solid rgba(255, 255, 255, 0.548) 3px;
        border-radius: 100%;
        width: 40px;
        height: 40px;
    }

}

